body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.ws-status {
  color: #999;
  text-align: center;
}

.title {
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
    background: rgb(85, 85, 85);
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: 100px;
    height: 100px;
    user-select: none;
}

.btn.on {
    background: rgb(0, 186, 219);
}